<div class="bread-crumbs">
    <p>
        <a ui-sref="app.home">Home</a> > <a>Listado</a>
    </p>
</div>

<hr>

<!--
<p ng-repeat="t in vm.tareas" ng-click="vm.seleccionarTarea(t)" ng-class="{'selected': t.seleccionado}" class="todo-item">
    {{t.descripcion | uppercase}}
    <span ng-if="t.seleccionado">{{t.fTerminado | FechaTarea}}</span>
    <button ng-click="vm.borrarTarea(t)">X</button>
</p>
-->

<tarea ng-repeat="t in vm.tareas" info="t" on-select="vm.seleccionarTarea" on-delete="vm.borrarTarea"></tarea>

<br>

<input type="text" ng-model="vm.nuevaTarea" ng-keypress="vm.keyPress($event)">
<button ng-click="vm.anadirTarea()" ng-disabled="!vm.nuevaTarea">Añadir</button>